body {
  font-weight: 300;
  color: rgb(51, 63, 72);
}

.md-typeset h1 {
  font-size: 42px;
  line-height: 46px;
  letter-spacing: 0;
  margin: 0 0 16px;
  font-weight: 300;
  color: rgb(51, 63, 72);
}

.md-typeset h2 {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0;
  margin: 0 0 16px;
  font-weight: 400;
  color: rgb(51, 63, 72);
}

.md-typeset h3 {
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0;
  margin: 0 0 16px;
  font-weight: 400;
  color: rgb(51, 63, 72);
}

.md-typeset h4 {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0;
  margin: 0 0 12px;
  font-weight: 400;
  color: rgb(51, 63, 72);
}

.md-typeset h5 {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0;
  margin: 0 0 12px;
  font-weight: 500;
  color: rgb(51, 63, 72);
}

.md-typeset h6 {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0;
  margin: 0 0 8px;
  font-weight: 400;
  color: rgb(51, 63, 72);
  text-transform: uppercase;
}

.md-header,
.md-footer-nav {
  background-color: #262f36;
}

.md-header-nav__title {
  padding-left: 0.25rem;
}

.md-footer-meta {
  background-color: #21282e;
}

.md-nav {
  font-size: 16px;
}

.md-nav__title {
  font-weight: 400;
}

.md-header-nav__topic {
  font-weight: 400;
}

code,
kbd,
pre {
  font-weight: normal;
}

.md-typeset a {
  color: rgb(43, 110, 210);
}

.md-grid {
  max-width: none;
}
